{% load staticfiles %}
<!--based on Start Bootstrap's
http://startbootstrap.com/template-overviews/simple-sidebar/
startbootstrap on Apache 2.0 licence
-->
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Terapeuta Online</title>

    <link rel="stylesheet" href="{% static 'startbootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'startbootstrap/css/simple-sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <style>
      h3 {
        padding-top: 60px;
        padding-bottom: 10px;
      }
      .affix {
        top: 0;
        background-color: #fff;
        z-index: 100;
      }
      .affix > h1 {
        font-size: 1.5em;
      }
    </style>
  </head>

  <body>
    <div id="wrapper">

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><</a>-->
                {% block menu %}
                {% endblock %}
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>


    <script src="{% static 'Chart.min.js' %}"></script>
    <script src="{% static 'startbootstrap/js/jquery.js' %}"></script>
    <script src="{% static 'startbootstrap/js/bootstrap.min.js' %}"></script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    {% block scripts %}
    {% endblock %}

  </body>
</html>
