{% load staticfiles %}
<html>
<head>
  <title>Podgląd</title>
</head>
<body>
<div style="width:95%; height: 90%; margin-left: 2,5%; margin-top: 5%">
  <canvas id="chart" style="width: 100%; height: 100%"></canvas>
</div>
<script src="{% static 'Chart.min.js' %}"></script>
<script src="{% static 'startbootstrap/js/jquery.js' %}"></script>
<script>

canvas = $("#chart").get(0).getContext("2d");

var i = 0;
{% for i in ex.points_done %}i++;{% endfor %}
i=i/2;

labels = [];
for(var j=0; j<i; j++)
{
  if(j%10==0) labels[j] = j * {{ ex.step }};
  else labels[j] = "";
}

var data = {
    labels: labels,
    datasets: [
        {
          label: "My First dataset",
          fillColor: "rgba(220,220,220,0.2)",
          strokeColor: "rgba(220,220,220,1)",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: {{ ex.points_given.points }}
        },
        {
          label: "My Second dataset",
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: {{ ex.points_done }}
        }
    ]
};

var options = {
  responsive: true,
  scaleStepWidth: 3,
  scaleOverride: false,
  scaleSteps: i,
  scaleStepWidth: {{ ex.step }},
  scaleStartValue: 0,
  labelsFilter: function (value, index) {
      return value != 0;
  }
};


new Chart(canvas).Line(data,options);
</script>
</body>
</html>
