{% extends 'base.html' %}
{% block menu %}
<li class="sidebar-brand">
  <a href="#">eRehabilitant</a>
</li>
<li><a href="/">Aktualności</a></li>
<li><a href="/patients">Pacjenci</a></li>
<li><a href="/info">Info</a></li>
{% endblock %}

{% block content %}
<h1>Aktualności</h1>
{% endblock %}
