{% extends 'base.html' %}
{% block menu %}
<li class="sidebar-brand">
  <a href="#">eRehabilitant</a>
</li>
<li><a href="/">Aktualności</a></li>
<li><a href="/patients">Pacjenci</a></li>
<li><a href="/info">Info</a></li>
{% endblock %}

{% block content %}
<h1>Informacje</h1>
<h3>Logowanie do testowego admina</h3>
\admin<br>
login: admin<br>
hasło: 123
<h3>Backlog</h3>
<ul>
  <li>API do kontaktu z appką użytkownika - wyslij/odbierz ćwiczenie</li>
  <li>Logowanie dla terapeuty, uprawnienia</li>
  <li>Uzupełnienie podsumowania (maksymalne wychylenie?)</li>
  <li>Dodaj/edytuj pacjenta</li>
  <li>Dodaj/edytuj komentarz</li>
  <li>Dodaj/edytuj ćwiczenie</li>
  <li>Sposob na wgrywanie zdefiniowanych ćwiczeń, zmianę parametrow</li>
  <li>Aktualnosci</li>
</ul>
<h3>Drobniejsze poprawki</h3>
  <li>Sortowanie tabel (angular)</li>
  <li>Wczytaj tylko pacjentow danego terapeuty</li>
  <li>Daty po polsku</li>
  <li>Nieuzupełnione ćwiczenie</li>
{% endblock %}
