{% extends 'base.html' %}
{% block menu %}
<li class="sidebar-brand">
  <a href="#">eRehabilitant</a>
</li>
<li><a href="/">Aktualności</a></li>
<li><a href="/patients">Pacjenci</a></li>
<li><a href="/info">Info</a></li>
{% endblock %}
{% block content %}
<h1>Lista pacjentów</h1>
<div style="text-align: right; width: 100%"><a href="/admin/therapist/patient/add/">Dodaj nowego pacjenta</a></div>
<br><br>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Imię</th>
    <th>Nazwisko</th>
  </tr>
{% for patient in patients %}
  <tr onclick="document.location = '/patients/{{ patient.pk }}'" style="cursor:pointer">
    <td>{{ patient.id }}
    <td>{{ patient.first_name }}</td>
    <td>{{ patient.last_name }}</td>
  </tr>
{% endfor %}
</table>
{% endblock %}
