{% extends 'base.html' %}

{% block menu %}
<li class="sidebar-brand">
  <a href="/patients">Powrót do listy</a>
</li>
<li><a href="#summary">Podsumowanie terapii</a></li>
<li><a href="#story">Historia choroby</a></li>
<li><a href="#exs">Zadane ćwiczenia</a></li>
{% endblock %}

{% block content %}
<div id="header-fixed" style="background-color: white; width: 100%; position: fixed;">
  <h1>{{ patient }}</h1>
</div>

<h3 id="summary" style="margin-top: 50px">Podsumowanie terapii</h3>
<h4>Maksymalny i średni kąt uzyskany w badaniach:</h4>
<div class="col-md-12" style="margin-bottom: 100px">
  <canvas id="avgChart" height="100"></canvas><br>
</div>

<h3 id="story">Historia choroby</h3>
<div style="text-align: right; width: 100%"><a href="/admin/therapist/comment/add/">Dodaj nową informację</a></div>
<br><br>
{% for comment in comments %}
  <p>{{ comment.content }}</p>
  <p style="text-align: right"><i>{{ comment.date_added }}</i></p>
{% endfor %}

<h3 id="exs">Zadane ćwiczenia</h3>
<div style="text-align: right; width: 100%"><a href="/admin/therapist/exercise/add/">Dodaj nowe ćwiczenie</a></div>
<br><br>
<table class="table table-hover">
  <tr>
    <th>Data wystawienia</th>
    <th>Data planowana</th>
    <th>Data wykonania</th>
    <th>Średni kąt</th>
    <th>Komentarz</th>
  </tr>
{% for ex in exercises %}
  <tr onclick="window.open('/patients/{{ patient.pk }}/ex/{{ ex.pk }}','Podgląd wynikow','menubar=no,status=no,width=700,height=500')" style="cursor:pointer">
    <td>{{ ex.date_added }}</td>
    <td>{{ ex.scheduled_for }}</td>
    <td>{{ ex.date_done }}</td>
    <td>{{ ex.avg }}</td>
    <td>{{ ex.comment }}</td>
  </tr>
{% endfor %}

</table>
{% endblock %}

{% block scripts %}
<script>

//Utrzymanie nazwiska pacjenta na widoku
$('#header-fixed').affix({
  offset: {
    top: 50,
    bottom: function () {
      return (this.bottom = $('.footer').outerHeight(true))
    }
  }
})

var canvas = $("#avgChart").get(0).getContext("2d");
var labels = "{{ labels }}".replace(/&#39;/g, "").split(",");

var data = {
    labels: labels,
    datasets: [
        {
            label: "Maksymalny kat wychylenia",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [{{ maxs }}]
        },
        {
          label: "Sredni kat wychylenia",
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: [{{ avgs }}]
        }
    ]
};
var options = {
  responsive: true,
};
new Chart(canvas).Line(data,options);
</script>
{% endblock %}
